@media screen and (min-width: 576px) and (max-width: 991px) {
    /* .ms_top_btn {
        display: none;
    } */

    ul.btn_ul {
        margin-top: 40px;
        padding: 9px 15px;
    }

    /* button.header_login_btn {
        padding: 9px 25px;
    } */
}

@media (min-width: 991px) {
    /* .nnd__vertical_logo {
        display: none;
    } */

    .btn_ul {
        display: none;
    }


}

@media(min-width: 575px) {
    .ms_logo_top {
        display: none ;
    }
}

@media (max-width: 575px) {

    .ms_logo_inner {
        display: none !important;
    }

    .ms_nav_wrapper {
        top: 85px !important;
    }


    .home_container {

        margin-left: 1rem;
        margin-right: 1rem;

    }

    .left_arrow {
        right: 75px;
    }

    .right_arrow {
        right: 58px;

    }

    .card-img-top {
        width: 70% !important;
    }

    .view_all {
        font-size: 14px;
    }


    .div_container {

        margin-left: 1rem;
        margin-right: 1rem;

    }

    ul.btn_ul {
        margin-top: 40px;
        padding: 9px 15px;
    }

    /* button.header_login_btn {
        padding: 9px 25px;
    } */
}

@media screen and (min-width: 576px) and (max-width: 991px) {
    .home_container {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .div_container {
        margin-left: 5rem;
        margin-right: 5rem;
    }
}

/* @media screen and (min-width: 320px) and (max-width: 991px) {

    .home_container {
        margin-top: 3rem;
    }

    .wrapper {
        margin-left: 0;
        margin-top: 3rem;
    }

} */

@media (max-width: 992px) {
    .utshv_img {
        border-radius: 20px;
    }
}

@media (max-width: 480px) {
    .ms_nav_close02 {
        right: -25px !important;
    }

    /* button.header_login_btn {
        font-size: 12px;
        padding: 9px 25px;
    } */

    .login_form {
        width: 22rem;
    }
}

@media (max-width: 375px) {
    .login_form {
        width: 21rem;
    }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
    .login_form {
        width: 18rem;
    }

    .login_form .input_container span {
        font-size: 14px;
    }
}

@media (min-width: 601px) {
    .css-b62sy7-MuiDrawer-docked .MuiDrawer-paper,.css-qw6dy7 .MuiDrawer-paper {
        width: 53px !important;
    }
}

@media (max-width: 600px) {
    .css-b62sy7-MuiDrawer-docked, .css-qw6dy7 .MuiDrawer-paper {
        width: 53px !important;
    }
}

@media (max-width: 575px) {
    .menuIcon {
        display: none !important;
    }

    .home_icon {
        display: block;
    }

    .release_img {
        width: 100%;
        height: 230px;
    }
}

@media (min-width: 575px) {
    .menuIcon {
        display: block;
    }

    .home_icon {
        display: none;
    }
}

@media (max-width: 767px) {
    .about-divider {
        display: none !important;
    }

    .about_img_div {
        margin: 3rem 0;
    }
}

@media (max-width: 991px) {
    .container_icon_rcnt_plyd {
        display: none !important;
    }
}

@media (max-width: 476px) {
    .title_rcnt_plyd {
        font-size: 18px;
    }

    .desc_rcnt_plyd {
        font-size: 16px;
    }
}


@media (max-width: 576px) {
    .playlist_container {
        height: 244px;
    }
}

@media (max-width: 992px) {

    .drp_large {
        display: none;
    }

    .drp_small {
        display: block;
    }

    .three_dot_btn {
        padding: 0;
        background-color: transparent !important;
    }

    #dropdown-basic-button {
        padding: 0;
    }
}

@media (min-width: 993px) {
    .drp_large {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .drp_small {
        display: none;
    }
}